.footer-main a {
    
    text-decoration: none;
}
.footer-main a:hover{
    
    text-decoration: underline;
}
.footer p{
    font-weight: 400;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
.footer-main{
    /* display: flex;
    justify-content: center; */
    bottom: 0px;
    border-top: 1px solid #eef2f2;
    font-size: .75em;
    color: #ababab;
    text-align: center;
  margin-top: 80px;
}
 /* .footer{
    background-color: aqua; 
    display: flex; 
    
    padding: 12px 0px 12px 0px; 
    
} */
